h1
{
    text-align: center;
}
body
{
    background-color: rgb(216, 229, 208);
}
.freelancerList
{
    margin-left: -10px;
    padding: 10px;
    margin-top: -8px;
}
.averagePrice
{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
th
{
    margin-left: 40px;
    border: 1px solid black;
    line-height: 30px;
}
td
{
    height: 30px;
    border: 1px solid black;
    line-height: 30px;
}