h1
{
    text-align: center;
}
body
{
    background-color: azure;
}
.freelancerList
{
    margin-top: 20px;
}
.averagePrice
{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.freelancerSpaceing
{
    padding: 10px;
    margin-bottom: 10px;
}
.item-a 
{

    justify-self: start;
    margin-right: 20px;
}
.item-b 
{
    justify-self: center;
}
.item-c 
{
    justify-self: end;
    margin-left: 80px;
}
